@import '../util/breakpoints';

/* Fixed width layout example */
body {
    width: 77.5rem;
    margin: auto;

    @include breakpoint(large) {
        width: 57.5rem;
    }

    @include breakpoint(medium) {
        width: 37.5rem;
    }

    @include breakpoint(small) {
        width: 100%;
        margin: 0 1.5rem;
    }
}